version: '3.8'

networks:
  default:
    driver: bridge
  npm_proxy:
    name: npm_proxy
    external: true  # Assuming this network already exists for your proxy

services:
  ledfx:
    image: ghcr.io/shuricksumy/ledfx-snapcast-docker:latest
    container_name: ledfx_visualizer
    restart: unless-stopped
    privileged: true
    ports:
      - "8888:8888"
    devices:
      - "/dev/snd:/dev/snd"
    environment:
      - ROLE=ledfx
      - LOOPBACK_NUMBER=10

  snapclient:
    image: ghcr.io/shuricksumy/ledfx-snapcast-docker:latest
    container_name: snapclient
    restart: unless-stopped
    devices:
      - "/dev/snd:/dev/snd"
    environment:
      - ROLE=client
      - HOST=192.168.111.111
      - SOUND_BACKEND=alsa
      - ALSA_DEVICE=hw:10,0
      - CLIENT_ID=LedFx-Audio-Source
    networks:
      - default
      - npm_proxy

  squeezelite:
    image: giof71/squeezelite:stable
    container_name: squeezelite-mainplayer
    network_mode: host
    privileged: true 
    devices:
      - /dev/snd:/dev/snd
    environment:
      - SQUEEZELITE_MODE=ALSA
      - SQUEEZELITE_AUDIO_DEVICE=hw:CARD=10,DEV=0 
      - SQUEEZELITE_NAME=LedFx-Audio-Source
      - SQUEEZELITE_SERVER_PORT=192.168.111.111:3483
      # Combined arguments properly
      - SQUEEZELITE_EXTRA_ARGS=-u V -X -C 5
      - SQUEEZELITE_MAC_ADDRESS=72:23:90:63:08:86
    restart: unless-stopped