version: '3.9'

services:
  snapcast_node:
    image: ghcr.io/shuricksumy/ledfx-snapcast-docker:latest
    container_name: snapcast_audio
    restart: always
    network_mode: host
    environment:
      - ROLE=server 
    volumes:
      - /dev/shm:/dev/shm           # Crucial for PipeWire data exchange
      - ./snapserver.conf:/etc/snapserver.conf:ro
      - ./data:/config
      - /etc/localtime:/etc/localtime:ro