version: '3.9'

services:
  snapcast_node:
    image: ghcr.io/shuricksumy/ledfx-snapcast-docker:latest
    container_name: snapcast_audio
    restart: always
    network_mode: host
    environment:
      - ROLE=server 
    volumes:
      - ${DATA_DIR}/snapserver/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /tmp/snapfifo:/tmp